body {
  background: #181C23;
}

.logo-capa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.logo-capa img {
  width: 65%;
  height: auto;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;

}

.banner {
  background-image: url(../public/images/FundoBanner.png);
  height: 287px;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;

}

.linha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


.banner-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

header p {
  color: #181C23;
  font-family: "Fira Code", sans-serif;
  font-size: clamp(6px, 5vw + 1px, 19px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.3px;
  width: 550px;
  height: 84px;
}

.parceria {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


h1 {
  width: 561px;
  color: #181C23;
  font-family: "Fira Code";
  font-size: clamp(40px, 4vw + 1px, 58px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

header span {
  color: #181C23;
  font-family: "Fira Code", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(14px, 1.5vw, 1px);
  margin-bottom: 2rem;
}

header a {
  width: 693px;
  height: 21px;
  color: #181C23;
  font-family: "Fira Code", sans-serif;
  font-size: clamp(16px, 3vw, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.48px;
}

.cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  gap: 14rem;
}

.vantagens {
  display: flex;
  flex-direction: column;
}

.vantagens h2 {
  color: #A6F750;
  font-family: "Fira Code", sans-serif;
  font-size: clamp(32px, 5vw, 48px); /* Ajuste de acordo com suas necessidades */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2rem;
}

.vantagens p {
  color: #FFF;
  font-family: "Fira Code", sans-serif;
  font-size: clamp(18px, 3vw, 44px); /* Ajuste de acordo com suas necessidades */
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.vantagens strong {
  color: #FFF;
  font-family: "Fira Code", sans-serif;
  font-size: clamp(18px, 2.7vw, 48px); /* Ajuste de acordo com suas necessidades */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cartao {
  width: 25%;
}
.beneficios {
  display: flex;
  flex-direction: column;
}


/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .logo-capa {
    padding: 15px;
  }

  .logo-capa img {
    width: 80%;
    /* Ajusta a largura da imagem para tablets */
  }

  .intro {
    padding-top: 5rem;
    /* Ajusta o padding-top para tablets */
  }

  .banner {
    height: 350px;
    /* Ajusta a altura do banner para tablets */
  }

  .banner-texto {
    margin: 3rem;
    gap: 4rem;
    /* Ajusta o gap entre os itens para tablets */
  }

  p {
    font-size: 16px;
    /* Ajusta o tamanho da fonte para tablets */
    width: 250px;
    /* Ajusta a largura do parágrafo para tablets */
    height: auto;
    /* Ajusta a altura automaticamente para tablets */
  }

  h1 {
    width: 520px;
    /* Ajusta a largura do título para tablets */
    height: auto;
    /* Ajusta a altura automaticamente para tablets */
    margin-bottom: 2rem;
  }

  span a {
    width: 500px;
    /* Ajusta a largura do link para tablets */
    font-size: 16px;
    /* Ajusta o tamanho da fonte para tablets */
  }
}

/* Estilos para celulares */
@media (max-width: 767px) {
  .logo-capa {
    padding: 20px;
    flex-direction: column;
    /* Ajusta a direção do flex para celulares */
    align-items: center;
    /* Centraliza o conteúdo para celulares */
  }

  .logo-capa img {
    width: 80%;
    /* Ajusta a largura da imagem para celulares */
  }

  .intro {
    padding-top: 2rem;
    /* Ajusta o padding-top para celulares */
  }

  .banner {
    height: 200px;
    /* Ajusta a altura do banner para celulares */
  }

  .banner-texto {
    display: flex;
    flex-direction: column;
    /* Ajusta a direção do flex para celulares */
    margin: 1rem;
    gap: 1rem;
    /* Ajusta o gap entre os itens para celulares */
  }

  p {
    font-size: 12px;
    /* Ajusta o tamanho da fonte para celulares */
    width: 50%;
    /* Ajusta a largura do parágrafo para celulares */
    height: auto;
    /* Ajusta a altura automaticamente para celulares */
  }

  h1 {
    width: 100%;
    /* Ajusta a largura do título para celulares */
    font-size: clamp(18px, 4vw, 40px);
    /* Ajusta o tamanho da fonte para celulares */
  }

  span a {
    width: 100%;
    /* Ajusta a largura do link para celulares */
    font-size: clamp(10px, 2vw, 14px);
    /* Ajusta o tamanho da fonte para celulares */
  }
}
body {
  background: #181C23;
}

.logo-capa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.logo-capa img {
  width: 65%;
  height: auto;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;

}

.banner {
  background-image: url(../public/images/FundoBanner.png);
  height: 287px;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;

}

.linha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


.banner-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

header p {
  color: #181C23;
  font-family: "Fira Code", sans-serif;
  font-size: clamp(6px, 5vw + 1px, 19px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.3px;
  width: 550px;
  height: 84px;
}

.parceria {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


h1 {
  width: 561px;
  color: #181C23;
  font-family: "Fira Code";
  font-size: clamp(40px, 4vw + 1px, 58px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

header span {
  color: #181C23;
  font-family: "Fira Code", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(14px, 1.5vw, 1px);
  margin-bottom: 2rem;
}

header a {
  width: 693px;
  height: 21px;
  color: #181C23;
  font-family: "Fira Code", sans-serif;
  font-size: clamp(16px, 3vw, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.48px;
}
.cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  gap: 14rem;

}
.vatagem {
  display: flex;
  flex-direction: column;
}
.vantagem h2 {
  color: #A6F750;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: clamp(32px, 5vw, 48px);

}
.vantagem p {
  color: #FFF;
  font-family: "Fira Code";
  font-size: clamp(18px, 3vw, 44px);
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.vantagem strong {
  color: #FFF;
  font-family: "Fira Code";
  font-size: clamp(18px, 2.7vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
 .cartao {
  width: 25%;
 } 
 .benificios{
  display: flex;
  flex-direction: column;
 }

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .logo-capa {
    padding: 15px;
  }

  .logo-capa img {
    width: 80%;
    /* Ajusta a largura da imagem para tablets */
  }

  .intro {
    padding-top: 5rem;
    /* Ajusta o padding-top para tablets */
  }

  .banner {
    height: 350px;
    /* Ajusta a altura do banner para tablets */
  }

  .banner-texto {
    margin: 3rem;
    gap: 4rem;
    /* Ajusta o gap entre os itens para tablets */
  }

  p {
    font-size: 16px;
    /* Ajusta o tamanho da fonte para tablets */
    width: 250px;
    /* Ajusta a largura do parágrafo para tablets */
    height: auto;
    /* Ajusta a altura automaticamente para tablets */
  }

  h1 {
    width: 520px;
    /* Ajusta a largura do título para tablets */
    height: auto;
    /* Ajusta a altura automaticamente para tablets */
    margin-bottom: 2rem;
  }

  span a {
    width: 500px;
    /* Ajusta a largura do link para tablets */
    font-size: 16px;
    /* Ajusta o tamanho da fonte para tablets */
  }
}

/* Estilos para celulares */
@media (max-width: 767px) {
  .logo-capa {
    padding: 20px;
    flex-direction: column;
    /* Ajusta a direção do flex para celulares */
    align-items: center;
    /* Centraliza o conteúdo para celulares */
  }

  .logo-capa img {
    width: 80%;
    /* Ajusta a largura da imagem para celulares */
  }

  .intro {
    padding-top: 2rem;
    /* Ajusta o padding-top para celulares */
  }

  .banner {
    height: 200px;
    /* Ajusta a altura do banner para celulares */
  }

  .banner-texto {
    display: flex;
    flex-direction: column;
    /* Ajusta a direção do flex para celulares */
    margin: 1rem;
    gap: 1rem;
    /* Ajusta o gap entre os itens para celulares */
  }

  p {
    font-size: 12px;
    /* Ajusta o tamanho da fonte para celulares */
    width: 50%;
    /* Ajusta a largura do parágrafo para celulares */
    height: auto;
    /* Ajusta a altura automaticamente para celulares */
  }

  h1 {
    width: 100%;
    /* Ajusta a largura do título para celulares */
    font-size: clamp(18px, 4vw, 40px);
    /* Ajusta o tamanho da fonte para celulares */
  }

  span a {
    width: 100%;
    /* Ajusta a largura do link para celulares */
    font-size: clamp(10px, 2vw, 14px);
    /* Ajusta o tamanho da fonte para celulares */
  }
}
