body {
    background: #181C23;
}

.logo-capa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.logo-capa img {
    width: 65%;
    /* Ajusta a largura para ocupar 100% do contêiner pai */
    height: auto;
    /* Mantém a proporção da imagem */
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;

}

.banner {
    background-image: url(../public/images/FundoBanner.png);
    width: 100%;
    /* Ajusta a largura para ocupar 100% do contêiner pai */
    height: 287px;
    background-size: cover;
    /* Adiciona para garantir que a imagem cubra todo o banner */
    background-position: center;
    /* Centraliza a imagem no banner */
}

.linha {
    width: 2px;
    height: 183px;
}


.banner-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 6rem;
}

header p {

    color: #181C23;
    font-family: "Fira Code", sans-serif;
    /* Define a fonte padrão e uma alternativa */
    font-size: clamp(16px, 4vw, 20px);
    /* Ajusta o tamanho da fonte entre 16px e 20px */
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    /* Ajusta a altura da linha para melhor legibilidade */
    letter-spacing: 2.2px;
    margin: 0;
    /* Remove margens padrão */
    width: 601px;
    height: 104px;
}

header h1 {
    width: 561px;
    height: 144px;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(24px, 6vw, 55px);
    /* Ajusta o tamanho da fonte entre 24px e 55px */
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    /* Ajusta a altura da linha para melhor legibilidade */
    margin: 0;
    /* Remove margens padrão */

}

header span a {
    width: 693px;
    height: 21px;
    color: #181C23;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(12px, 3vw, 16px);
    /* Ajusta o tamanho da fonte entre 12px e 16px */
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* Ajusta a altura da linha para melhor legibilidade */
    letter-spacing: -0.48px;

}

.confirmacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

.confirmacao_interno {
    width: 100%;
    padding: 24px;
    border: solid 4px #A6F750;
    border-radius: 46px;
    color: #A6F750;
    font-family: "Fira Code";
    font-size: 36px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 2.52px;
}

.confirmacao_interno_logo {
    display: flex;
    justify-content: center;
    font-family: Ubuntu, sans-serif;
    align-items: baseline;
    position: relative;
}

.confirmacao_interno_logo img {
    width: 20%; 
    height: auto;
    margin-right: 10px;
    position: absolute;
    left: 0;
}

.confirmacao_interno_logo h3 {
    flex: 1;
    text-align: center;
}

.confirmacao_interno_detalhes {
    padding: 20px;
}

.confirmacao_interno p {
    width: 100%;
}

.confirmacao_interno p span {
    color: white
}

.confirmacao_interno_botao_div {
    display: flex;
    justify-content: center;
}

.confirmacao_interno_botao {
    border-radius: 16px;
    background: #A6F750;
    width: 178px;
    height: 47px;
    flex-shrink: 0;
}

.confirmacao_interno_botao strong {
    color: black;
    font-size: 22px;
    font-family: "Fira Code";
}

.confirmacao_btn-contato {
    height: 28px;
    background-color: #282C33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    color: #A6F750;
    font-family: "Fira Code";
    font-size: clamp(14px, 2.5vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (min-width: 768px) {
    .confirmacao_interno {
        max-width: 1400px;
    }
}






/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .logo-capa {
        padding: 15px;
    }

    .logo-capa img {
        width: 80%;
        /* Ajusta a largura da imagem para tablets */
    }

    .intro {
        padding-top: 5rem;
        /* Ajusta o padding-top para tablets */
    }

    .banner {
        height: 350px;
        /* Ajusta a altura do banner para tablets */
    }

    .banner-texto {
        margin: 3rem;
        gap: 4rem;
        /* Ajusta o gap entre os itens para tablets */
    }

    p {
        font-size: 16px;
        /* Ajusta o tamanho da fonte para tablets */
        width: 250px;
        /* Ajusta a largura do parágrafo para tablets */
        height: auto;
        /* Ajusta a altura automaticamente para tablets */
    }

    h1 {
        width: 520px;
        /* Ajusta a largura do título para tablets */
        height: auto;
        /* Ajusta a altura automaticamente para tablets */
        margin-bottom: 2rem;
    }

    span a {
        width: 500px;
        /* Ajusta a largura do link para tablets */
        font-size: 16px;
        /* Ajusta o tamanho da fonte para tablets */
    }
}

/* Estilos para celulares */
@media (max-width: 767px) {
    .logo-capa {
        padding: 20px;
        flex-direction: column;
        /* Ajusta a direção do flex para celulares */
        align-items: center;
        /* Centraliza o conteúdo para celulares */
    }

    .logo-capa img {
        width: 80%;
        /* Ajusta a largura da imagem para celulares */
    }

    .intro {
        padding-top: 2rem;
        /* Ajusta o padding-top para celulares */
    }

    .banner {
        height: 200px;
        /* Ajusta a altura do banner para celulares */
    }

    .banner-texto {
        display: flex;
        flex-direction: column;
        /* Ajusta a direção do flex para celulares */
        margin: 1rem;
        gap: 1rem;
        /* Ajusta o gap entre os itens para celulares */
    }

    p {
        font-size: 12px;
        /* Ajusta o tamanho da fonte para celulares */
        width: 50%;
        /* Ajusta a largura do parágrafo para celulares */
        height: auto;
        /* Ajusta a altura automaticamente para celulares */
    }

    h1 {
        width: 100%;
        /* Ajusta a largura do título para celulares */
        font-size: clamp(18px, 4vw, 40px);
        /* Ajusta o tamanho da fonte para celulares */
    }

    span a {
        width: 100%;
        /* Ajusta a largura do link para celulares */
        font-size: clamp(10px, 2vw, 14px);
        /* Ajusta o tamanho da fonte para celulares */
    }
}