body {
    background: #181C23;
}

.confirmacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

.confirmacao_interno {
    width: 80%;
    padding: 24px;
    border: solid 4px #A6F750;
    border-radius: 46px;
    color: #A6F750;
    font-family: "Fira Code";
    font-size: 36px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 2.52px;
}

.confirmacao_interno_logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.confirmacao_interno_logo img {
    width: 20%;
    height: auto;
    margin-right: 10px;
    left: 0;
}

main h3 {
    display: flex;
    color: #A6F750;
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.52px;
    flex: 1;
    text-align: center;
}

.confirmacao_interno_detalhes {
    padding: 2rem;
}

.confirmacao_interno_detalhes p {
    color: #A6F750;
    font-family: "Fira Code";
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 1.68px;

}

.confirmacao_interno p {
    width: 100%;
}

.confirmacao_interno p span {
    font-family: "Fira Code";
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 1.68px;
    color: white
}

.button-voltar {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    display: inline-block;
    border: 1px solid #A6F750;
    background-color: #A6F750;
    color: #282C33;
    font-family: "Fira Code", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    width: 345px;
    height: 38px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 1.6rem;
    padding: 0.4rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--color-dark-green);
    color: white;
    border-color: #A6F750;
    transform: scale(1.05);
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 951px;

}

.logo img {
    width: 401px;
    height: auto;
    margin-left: 4rem;
    margin-bottom: 1rem;

}

.contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 185px;
    background: #A6F750;
    padding: 2rem;
}

.contato p {
    color: #282C33;
    font-family: "Fira Code";
    font-weight: 450;
    line-height: normal;
    font-size: clamp(18px, 3vw, 30px);
}


.contato strong {
    color: #282C33;
    font-family: "Fira Code";
    font-weight: 700;
    line-height: normal;
    font-size: clamp(18px, 2.5vw, 30px);
}


.copyright {
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
}

.copyright p {
    color: #181C23;
    font-family: "Fira Code";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 3rem;
    margin-right: 1rem;

}

.btn-contato {
    height: 49px;
    background-color: #282C33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    color: #A6F750;
    font-family: "Fira Code";
    font-size: clamp(14px, 2.5vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-contato:hover {
    border: 2px solid var(--color-black);
    background-color: var(--color-green);
    color: var(--color-black);
}

.btn-contato i {
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        width: 251px;

    }

    .contato {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 183px;
        background: #A6F750;
        padding: 2rem;
    }

    .logo img {
        width: 201px;
        height: auto;
        margin-left: 1rem;
    }

    main h3 {
        font-size: 22px;
    }

    .confirmacao_interno_detalhes p {
        font-size: 16px;
    }

    .confirmacao_interno p {
        width: 100%;
    }

    .confirmacao_interno p span {
        font-size: 16px;
    }

}

/* Estilos para celulares */
@media (max-width: 767px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo img {
        width: 351px;
        height: auto;
        margin-left: 1rem;
    }


    .confirmacao_interno {
        width: 366px;
        height: 857px;
        flex-shrink: 0;
    }

    main h3 {
        font-size: 14px;
        padding: 2rem;
    }

    .confirmacao_interno_detalhes p {
        font-size: 16px;
    }

    .confirmacao_interno p span {
        font-size: 18px;

    }

    button {
        width: 145px;
        height: 38px;
    }


    .container-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contato {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 275px;
        background: #A6F750;
        padding: 2rem;
    }

    .btn-contato {
        width: 250px;

    }

    .copyright {
        display: flex;
        flex-direction: column;
    }

}