body {
    background: #181C23;
}

.logo-capa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.logo-capa img {
    width: 65%;
    height: auto;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;

}

.banner {
    background-image: url(../public/images/FundoBanner.png);
    width: 100%;
    height: 287px;
    background-size: cover;
    background-position: center;
    margin-bottom: 3rem;

}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}


.banner-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
}

header p {
    color: #181C23;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(6px, 5vw + 1px, 19px);
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.3px;
    width: 550px;
    height: 84px;
}

.parceria {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


h1 {
    width: 561px;
    color: #181C23;
    font-family: "Fira Code";
    font-size: clamp(40px, 4vw + 1px, 58px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

header span {
    color: #181C23;
    font-family: "Fira Code", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(13px, 1.5vw, 1px);
}

header a {
    width: 693px;
    height: 21px;
    color: #181C23;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(16px, 3vw, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.48px;
}

.nossos_produtos {
    display: flex;
    flex-direction: column;
    width: 1278px;
    gap: 1rem;
    padding: 8rem;
}

strong {
    color: #A6F750;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(56px, 5vw, 64px);
    /* Adapta o tamanho da fonte entre 32px e 64px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main p {

    color: #FFF;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(23px, 2.5vw, 24px);
    /* Adapta o tamanho da fonte entre 16px e 24px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: clamp(0.8px, 0.3vw, 1.92px);
    /* Adapta o espaçamento entre letras */
}



.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    padding: 2rem;
    max-width: 1440px; /* Define uma largura máxima para a grid */
    margin: 0 auto; /* Centraliza a grid horizontalmente */
}


.produto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 376px;
    height: 359px;
    border-radius: 32px;
    border-top: 2px solid #A6F750;
    border-right: 2px solid #A6F750;
    border-left: 2px solid #A6F750;
    background: linear-gradient(0deg, rgba(40, 44, 51, 0.00) 0%, rgba(40, 44, 51, 0.00) 100%);
    padding: 1rem;
}

.produto img.giftcard {
    width: 251px;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Centraliza a imagem horizontalmente */
    margin-bottom: 0.6rem;
    /* Espaçamento abaixo do título */

}

.produto img.headphone {
    width: 118px;
    height: 167px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.6rem;
    box-shadow: #A6F750;

}

.produto img.livro {
    width: 118px;
    height: 145px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.6rem;
    box-shadow: #A6F750;

}

.produto h2 {
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    /* Alinha o título à esquerda */

}

.produto p {
    width: 346px;
    color: #A6F750;
    font-family: "Fira Code";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.16px;
    margin: 0;
    /* Remove margens padrão que podem afetar o alinhamento */
}

.container {
    display: flex;
    justify-content: flex-end;
    /* Alinha o botão à direita */
}

.bnt-link {
    display: inline-block;
    width: 141px;
    height: 27px;
    border-radius: 27px;
    border: 1px solid #A6F750;
    background-color: #A6F750;
    color: #282C33;
    text-align: center;
    text-decoration: none;
    font-family: "Fira Code", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 1.6rem;
    /* Espaçamento à direita do botão */
}

.bnt-link:hover {
    background-color: #00000000;
    color: #FFF;
}

.cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    gap: 9rem;
}

.vantagens {
    display: flex;
    flex-direction: column;

}

.vantagens h2 {
    width: 473px;
    color: #A6F750;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(9px, 8vw, 38px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
}

.vantagens p {
    color: #FFF;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(23px, 3vw, 44px);
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.vantagens span {
    color: #FFF;
    font-family: "Fira Code", sans-serif;
    font-size: clamp(28px, 2.7vw, 48px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cartao img {
    width: 334px;
    height: 253px;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 321px;
    height: 121px;
    padding: 1rem;

}

.contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 185px;
    background: #A6F750;
    padding: 2rem;
}

.contato p {
    color: #282C33;
    font-family: "Fira Code";
    font-weight: 450;
    line-height: normal;
    font-size: clamp(18px, 3vw, 30px);
}


.contato strong {
    color: #282C33;
    font-family: "Fira Code";
    font-weight: 700;
    line-height: normal;
    font-size: clamp(18px, 2.5vw, 30px);
}


.copyright {
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
}

.copyright p {
    font-size: 15px;
    color: #181C23;
    margin-top: 3rem;
    margin-right: 1rem;

}

.btn-contato {
    height: 49px;
    background-color: #282C33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    color: #A6F750;
    font-family: "Fira Code";
    font-size: clamp(14px, 2.5vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-contato:hover {
    border: 2px solid var(--color-black);
    background-color: var(--color-green);
    color: var(--color-black);
}

.btn-contato i {
    width: 15px;
    height: 15px;
    margin-right: 6px;
}


/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .logo-capa img {
        width: 100%;
    }

    .banner {
        height: 230px;
    }

    .banner-texto {
        margin: 1rem;
    }

    .parceria {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    header p {

        font-size: clamp(6px, 5vw + 1px, 16px);
        width: 250px;
        margin-bottom: 4rem;
    }

    h1 {
        width: 390px;
    }

    header span {
        color: #181C23;
        font-family: "Fira Code", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: clamp(12px, 1.5vw, 1px);
        margin-bottom: -1rem;
    }

    header a {
        width: 693px;
        height: 21px;
        color: #181C23;
        font-family: "Fira Code", sans-serif;
        font-size: clamp(16px, 3vw, 16px);
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.48px;

    }

    .nossos_produtos {
        width: 878px;
    }

    .cliente {
        gap: 2rem;
    }

    .cartao img {
        width: 304px;
        height: 253px;
    }

}

/* Estilos para celulares */
@media (max-width: 767px) {
    .logo-capa {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .logo-capa img {
        width: 100%;
        margin-top: 2rem;
    }

    .intro {
        padding-top: 2rem;
    }

    .banner {
        height: 530px;
    }

    .linha {
        display: none;
    }

    .banner-texto {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    header p {
        width: 100%;
        height: auto;
    }

    h1 {
        width: 100%;
    }

    .nossos_produtos {
        width: 20px;
        padding: 2rem;
    }

    .produto {
        margin-left: -1.6rem;
    }

    main p {
        width: 300px;
    }

    .cliente {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .vantagens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Alinhamento vertical */
        text-align: center;

        padding: 0 5%;
        /* Adiciona espaçamento nas laterais */
        box-sizing: border-box;
        /* Garante que o padding seja incluído na largura total */
    }

    .vantagens h2 {
        width: 100%;
        word-wrap: break-word;
        /* Quebra o texto longo em várias linhas se necessário */
    }

    .vantagens p,
    .vantagens span {
        margin: 10px;
        /* Espaçamento entre os elementos */

    }

    .cartao {
        text-align: center;
    }

    .cartao img {
        max-width: 100%;
        height: auto;
    }

    .logo {
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left: 2rem;
    }

    .logo img {
        width: 100%;
        height: 141px;
        padding: 1rem;
    
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contato {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 275px;
        background: #A6F750;
        padding: 2rem;
        
    }
    
    .btn-contato {
        width: 250px;
        
    }

    .copyright{
        display: flex;
        flex-direction: column;
    }

}